@import '../../../../assets/styles/_variables.scss';

.th-dapp30-jumbotron {
    background-image: url("https://i.picsum.photos/id/12/3988/2720.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
