@import url("https://use.typekit.net/onq2xzx.css");
@import './_variables.scss';

.jumbotron {
    background-image: url("https://i.picsum.photos/id/1056/3988/2720.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// SVG Colors
.cls-1{fill:$secondary;}
.cls-2{fill:$primary;}
// SVG logo resonsive size
svg {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
@import "bootstrap/scss/bootstrap.scss";
